{% extends "base.html" %}

{% block title %}
Faltas
{% endblock %}

{% block content %}


<h1 class="mb-4">⚠️ Control de Faltas</h1>

<div class="card p-4">

<table class="table table-striped">

    <thead>
        <tr>
            <th>Equipo</th>
            <th>Avisos</th>
            <th>Leves</th>
            <th>Graves</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td colspan="4" class="text-center">
                No hay datos cargados
            </td>
        </tr>
    </tbody>

</table>

</div>

{% endblock %}